
.form {
  border-radius: 10px;
  color: #fff5cb;
  font-size: 25px;
  padding: 10px;
  padding-bottom: 25px;
  background-color: rgba(66, 20, 139, 0.1);
  box-shadow: 0 0 25px #fff5cb;
  transition: 0.5s;
  transition-property: box-shadow;
}

.form:hover {
  box-shadow: 0 0 5px #fff5cb, 0 0 25px #fff5cb, 0 0 50px #fff5cb,
    0 0 100px #fff5cb;
}

.error {
  color: #fff5cb;
  /* font-weight: bold; */
  font-size: 13px;
}

.hr {
  border-style: none;
}

.button {
  padding: 10px 20px;
  font-family: 'Lato';
  margin-top: 20px;
  border: none;
  font-size: 17px;
  color: #fff5cb;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.button {
  background: #9e47ae;
  box-shadow: 0 0 25px #fff5cb;
}

.button:hover {
  box-shadow: 0 0 5px #fff5cb, 0 0 25px #fff5cb, 0 0 50px #fff5cb,
    0 0 100px #fff5cb;
}

.input {
  border: 2px solid transparent;
  width: 11em;
  height: 1.8em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #9e47ae;
  border-radius: 10px;
  transition: all 0.5s;
  position: center;
  color: #fff5cb;
}

.input:hover,
.input:focus {
  border: 2px solid #72007a;
  background-color: #9e47ae;
}

