/* nav.module.css */
.navbar {
   position: fixed; /* Fija la barra de navegación en la parte superior */
   font-family: 'Patrick Hand SC';
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between; 
   align-items: center;
   background-color: rgba(235, 88, 167, 0.2);; /* Color de fondo de la barra */
   padding: 15px; /* Espaciado interno */
   margin-bottom: 10px;
 }
 
 
 
.button {
   font-family: 'Patrick Hand SC';
   --glow-color: #f76ab5;
   --glow-spread-color: rgba(191, 123, 255, 0.781);
   --enhanced-glow-color: rgb(231, 206, 255);
   --btn-color: #0f0008;
   border: .1em solid var(--glow-color);
   padding: 10px;
   color: var(--glow-color);
   font-size: 18px;
   margin: 5px;
   margin-left: 10px;
   margin-right: 10px;
   background-color: var(--btn-color);
   border-radius: 10px;
   outline: none;
  box-shadow: 0 0 0.2em 0.1em var(--glow-color), /* Sombras externas más pequeñas */
              0 0 1em 0.2em var(--glow-spread-color), /* Sombras externas más grandes */
              inset 0 0 0.1em 0.05em var(--glow-color); 
   text-shadow: 0 0 .3em var(--glow-color);
   position: relative;
   transition: all 0.5s;
  }
  
  /* .button::after {
   pointer-events: none;
   content: "";
   position: absolute;
   top: 120%;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--glow-spread-color);
   filter: blur(0.5em);
   opacity: .4;
   transform: perspective(1.5em) rotateX(35deg) scale(0.5, 0.4);
  } */
  
  .button:hover {
   color: var(--btn-color);
   background-color: var(--glow-color);
   box-shadow: 0 0 1em .2em var(--glow-color),
          0 0 2em 1em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
  }
  
  .button:active {
   box-shadow: 0 0 0.6em .25em var(--glow-color),
          0 0 2.5em 2em var(--glow-spread-color),
          inset 0 0 .5em .25em var(--glow-color);
  }
 
 .input {
   font-family: 'Patrick Hand SC';
   padding: 10px;
   font-weight: bold;
   margin: 15px;
   font-size: 18;
   color: #f76ab5;
 }

 .left {
   display: flex;
   justify-content: space-between; 
   align-items: center;
   
 }