.container {
   margin: 10px;
   margin-top: 100px;
   padding: 10px;
   border-radius: 10px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   background: transparent;
   backdrop-filter: blur(15px);
   box-shadow: 0 0 5px #e28cba, 0 0 10px #e28cba, 0 0 15px #e28cba;
  }

  .text{
   size: 18px;
   padding: 15px;
   color: #e28cba;
   text-align: left;
  }

  .image{
   border-radius: 16px;
   margin: 15px;
   box-shadow: 0 0 2px #e28cba, 0 0 2px #e28cba, 0 0 5px #e28cba;
  }