:root {
  font-family: 'Patrick Hand SC';
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/image/AppFondo.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta correcta de tu imagen */
  background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
  background-position: center; /* Centra la imagen en la pantalla */
  background-attachment: fixed; /* Fija la imagen en su posición para que se comporte como un fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  font-family: 'Patrick Hand SC';
  letter-spacing: 1px;
  
}


::selection {
  background-color: #7EC34D;
  color: #180D21;
}