
.containerCard { 
  position: relative;
  color: rgb(255, 255, 255);
  border-radius: 13px;
  border: 2px solid #DF3F80;
  padding: 10px; 
  width: 200px;
  margin: 15px;
  background: transparent;
  backdrop-filter: blur(8px);
  animation: borderAnimation 4s infinite linear; /* Animación con duración de 2 segundos y repetición infinita */
  
  }
  
  .containerCard:hover {
     box-shadow: 0 0 0.2rem #DF3F80 , 0 0 0.2rem #86fc00 , 0 0 2rem #86fc00;
     transition: 1s;
     color: black;
     transform: scale(1.05); 
     transition: transform 0.3s ease; 
  }
  
  .imageCard {
    border-radius: 13px;
    width: 85%;
    margin: 5px;
    border: 1px solid transparent; /* Borde transparente inicial */
    position: relative; /* Necesario para posicionar el borde animado correctamente */
    animation: borderAnimation 3s infinite linear; 
  }
  
  @keyframes borderAnimation {
    0% {
      border-color: #DF3F80; /* Color del borde al principio */
    }
    25% {
      border-color: #84F600; /* Color del borde después del 25% del tiempo de la animación */
    }
    50% {
      border-color: #3EF7F9; /* Color del borde después del 50% del tiempo de la animación */
    }
    75% {
      border-color: #9E5ADB; /* Color del borde después del 75% del tiempo de la animación */
    }
    100% {
      border-color: #DF3F80; /* Vuelve al color original al final de la animación */
    }
  }

    
    .nameCard {
    color: #86fc00;
    font-size: 18px;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
    }
  
    .nameCard:hover {
      transform: scale(1.3); 
      transition: transform 0.3s ease; 
      }
    
  .h3 {
    color: #86fc00;
    font-size: 15px;
  }
  
  .buttonCard {
     background-color: #55002e; 
     /* border-color: #DF3F80; */
     padding: 10px 15px;
     border-radius: 50%; 
     cursor: pointer; 
     text-align: center; 
     margin: 5px;
     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 30px;
     border: 1px solid #9c2d5a;
   }
  
   
   .buttonCard:hover {
     background-color: #8caf64 ; 
     border: 1px solid #8caf64;

   }