.body{
  width: fit-content;
  font-family: 'Orbitron', sans-serif;
  
}
.form {
  border-radius: 50%;
  color: #48158F;
  font-size: 20px;
  font-weight: bold;
  padding: 60px;
  margin-top: 20px;
  background-color: transparent;
  /* box-shadow: 0 0 10px #fff5cb; */
  transition: 0.5s;
  transition-property: box-shadow;
  marginBottom: 70px;
  margin-left: 120px;
  margin-right: 140px;
  
}

.form:hover {
  box-shadow: 0 0 5px #fff5cb, 0 0 20px #fff5cb, 0 0 40px #fff5cb,
    0 0 80px #fff5cb;
}

.error {
  color: #933FAD;
  font-size: 13px;
}

/* .hr {
  border-style: none;
} */

.button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  font-size: 17px;
  color: #fff5cb;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  cursor: pointer;
  background-color: #5C1F9C;
  box-shadow: 0 0 25px #fff5cb;
  font-family: 'Orbitron', sans-serif;
}

.button:hover {
  box-shadow: 0 0 5px #fff5cb, 0 0 25px #fff5cb, 0 0 50px #fff5cb,
    0 0 100px #fff5cb;
}


.inputWrapper {
  position: relative;
  width: 200px;
  margin: 25px auto;
}

.inputBox {
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #933FAD;
  color: #5C1F9C;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.4s ease-in-out;
  font-family: 'Orbitron', sans-serif;
  
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #5C1F9C;
  transform: scaleX(0);
  transition: transform 0.7s ease-in-out;
}

.inputBox:focus {
  border-color: #5C1F9C;
  outline: none;
}

.inputBox:focus + .underline {
  transform: scaleX(1);
}

::placeholder {
  color: #933FAD; /* Cambia el color del texto del marcador de posición */
  font-size: 16px;
}

/* Estilo específico para un input con una clase específica */
.inputBox::placeholder {
  font-family: 'Orbitron', sans-serif;
}

/* .input {
  border: 2px solid transparent;
  width: 11em;
  height: 1.8em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: transparent;
 
  transition: all 0.5s;
  position: center;
  color: #fff5cb;
  borderBottom: 2px solid #48158F;
  font-size: 14px;
  font-family: 'Orbitron', sans-serif;
} */
