.button {
   padding: 10px 15px;
   border: none;
   font-size: 13px;
   color: #FEF9CF;
   border-radius: 7px;
   text-transform: uppercase;
   transition: 0.5s;
   transition-property: box-shadow;
   background: transparent;
   backdrop-filter: blur(1px);
   box-shadow: 0 0 10px #FEF9CF;
   cursor: pointer;
   font-family: 'Orbitron', sans-serif;
   font-weight: bolder;
 }
 
 .button:hover {
   box-shadow: 0 0 5px #fff5cb, 0 0 25px #fff5cb, 0 0 50px #fff5cb,
     0 0 100px #fff5cb;
 }

 .container {
   display: block;
   width: 400px; 
  height: 200px; 
  align-items: center;
  margin-bottom: 120px;
  margin-left:40px;
   /* justify-content: center;
   align-items: center;
   height: 110px; */
 }

 .frase{
   margin-right: 40px;
   font-size: 22px;
   display: flex;

   justify-content: space-around;
   align-items: center;
   width: 400px; /* Establece un ancho fijo */
  height: 200px;
  border-radius: 40px;
  color: #FEF9CF;
  transition: 1s;
  transition-property: text-shadow;
  font-weight: bolder;
  background-color: transparent;
  backdrop-filter: blur(4px);
  font-family: 'Orbitron', sans-serif;
}

.frase:hover {
  text-shadow: 0 0 2px #fff5cb, 0 0 10px #fff5cb, 0 0 20px #fff5cb, 0 0 40px #fff5cb;
   
}