
.container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: aqua;
   margin-top: 80px;
  }


.containerCard {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 15px;
   margin-top: 30px;
   width: 100%;
   background-color: aqua;
  }