
.button {
   font-family: 'Orbitron', sans-serif;
   --glow-color: #27FEFA;
   --glow-spread-color: rgba(152, 202, 230, 0.781);
   --enhanced-glow-color: rgb(231, 206, 255);
   --btn-color: #0f0008;
   border: .1em solid var(--glow-color);
   padding: 10px;
   color: var(--glow-color);
   font-size: 17px;
   margin: 10px;
   background-color: var(--btn-color);
   border-radius: 10px;
   outline: none;
  box-shadow: 0 0 0.2em 0.1em var(--glow-color), 
              0 0 1em 0.2em var(--glow-spread-color), 
              inset 0 0 0.1em 0.05em var(--glow-color); 
   text-shadow: 0 0 .1em var(--glow-color);
   position: relative;
   transition: all 0.5s;
   opacity: 0.72;
   font-weight: bold;
   cursor: pointer;
  }
  
  .button:hover {
   color: var(--btn-color);
   background-color: var(--glow-color);
   box-shadow: 0 0 1em .2em var(--glow-color),
          0 0 2em 1em var(--glow-spread-color),
          inset 0 0 .75em .2em var(--glow-color);
  }
  
  .button:active {
   box-shadow: 0 0 0.6em .2em var(--glow-color),
          0 0 2.5em 2em var(--glow-spread-color),
          inset 0 0 .5em .2em var(--glow-color);
  }
 
.input{
   font-family: 'Patrick Hand SC';
   --glow-color: #27FEFA;
   --glow-spread-color: rgba(152, 202, 230, 0.781);
   --enhanced-glow-color: rgb(231, 206, 255);
   --btn-color: #0f0008;
   border: .1em solid var(--glow-color);
   padding: 10px;
   color: var(--glow-color);
   font-size: 16px;
   margin: 10px;
   background-color: var(--btn-color);
   border-radius: 10px;
   outline: none;
  box-shadow: 0 0 0.2em 0.1em var(--glow-color), 
              0 0 1em 0.2em var(--glow-spread-color), 
              inset 0 0 0.1em 0.05em var(--glow-color); 

   position: relative;
   transition: all 0.5s;
   opacity: 0.72;
   font-family: 'Orbitron', sans-serif;
   width: 100px;

}

::placeholder {
   color: #1eaeab;
   font-size: 14px;
 }