.flipCard {
   background-color: transparent;
   width: 245px;
   height: 270px;
   perspective: 1000px;
   font-family: 'Orbitron', sans-serif;
 }
 
 .flipCardInner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   font-family: 'Orbitron', sans-serif;
 }
 
 .flipCardFront, .flipCardBack {
   position: absolute;
   width: 100%;
   height: 100%;
   padding: 5px;
   border-radius: 2em;
   backface-visibility: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: normal;
   text-align: center;
   
 }
 
 .flipCardFront {
   background: transparent;
   border: 4px solid #DF3F80;
   backdrop-filter: blur(9px); 
 }
  

 .name {
   margin-top: 15px;
   font-size: 27px;
   color: #DF3F80;
   font-weight: bold;
   font-family: 'Orbitron', sans-serif;
 }
 
 .flipCardBack {
   background-color: #240d29;
   border: 4px solid #DF3F80;
   transform: rotateY(180deg);
   padding: 11px;
   background: transparent;
   backdrop-filter: blur(10px); 
 }
 
 .description {
   margin-top: 10px;
   font-size: 15px;
   letter-spacing: 1px;
   color: #EED7C6;
   font-family: 'Orbitron', sans-serif;
   font-weight: bold;
 }

 h1{
  color: #d582a4;
 }

 h3{
  color: #d582a4;
 }
 
 .icon {
   padding-left: 10px;
   padding-right: 10px;
   width: 50%;
 }
 .socialbar {
   background-color:transparent;
   border-radius: 3em;
   width: 80%;
   padding: 14px;
   margin-top: 11px;
   margin-left: 10px;
   color: #EED7C6;
   justify-content: center;
   align-items: center;
   display: flex;

 }
 
 .socialbar svg {
   transition: 0.4s;
   width: 30px;
   height: 30px;
   color: #EED7C6
 }
 
 .socialbar svg:hover {
   color: #930B5F;
 }
 
 .flipCard:hover .flipCardInner {
   transform: rotateY(180deg);
 }
 